<ion-view title="Expenses" id="page3">
  <!-- <ion-nav-buttons side="left" class="has-header">
    <button ng-click="goBackState()" class="button button-icon icon ion-ios-arrow-back"> Back</button>
  </ion-nav-buttons> -->
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.newExpense" id="expenses-button3" class="button button-positive  button-block">Add New Item</a>
    <div class="item item-body" id="expenses-list-item-container3">
      <ion-list id="expenses-list6">
        <ion-item id="expenses-list-item20">Item 1</ion-item>
        <ion-item id="expenses-list-item21">Item 2</ion-item>
        <ion-item id="expenses-list-item22">Item 3</ion-item>
        <ion-item id="expenses-list-item23">Item 4</ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
