<ion-view title="New Report" id="page5">
  <!-- <ion-nav-buttons side="left" class="has-header">
    <button ng-click="goBackState()" class="button button-icon icon ion-ios-arrow-back"> Back</button>
  </ion-nav-buttons> -->
  <ion-content padding="true" class="has-header">
    <div id="newReport-markdown11" class="show-list-numbers-and-dots">
      <p style="margin-top:0px;color:#000000;">Report ID:
        <strong>6155</strong>
      </p>
    </div>
    <div class="item item-body" id="newReport-list-item-container9">
      <form id="newReport-form6" class="list">
        <label class="item item-input" id="newReport-input10">
          <span class="input-label">From Date</span>
          <input type="date" placeholder="">
        </label>
        <label class="item item-input" id="newReport-input11">
          <span class="input-label">To Date</span>
          <input type="date" placeholder="">
        </label>
        <ion-item id="newReport-list-item38">Purpose</ion-item>
      </form>
    </div>
    <div class="item item-body" id="newReport-list-item-container8">
      <ion-list id="newReport-list11">
        <ion-item class="item-icon-left item-icon-right" id="newReport-list-item35">
          <i class="icon ion-ios-list"></i>Items: 1
          <i class="icon ion-android-add-circle"></i>
        </ion-item>
        <ion-item class="item-thumbnail-left item-icon-right" id="newReport-list-item36">
          <h2>Receipts: 1</h2>
          <i class="icon ion-android-add-circle"></i>
        </ion-item>
        <ion-item class="item-icon-left item-icon-right" id="newReport-list-item37">
          <i class="icon ion-document-text"></i>Notes: 0
          <i class="icon ion-android-add-circle"></i>
        </ion-item>
      </ion-list>
    </div>
    <a ui-sref="menu.reports" id="newReport-button2" class="button button-balanced  button-block">Save</a>
    <a ui-sref="menu.reports" id="newReport-button11" class="button button-energized  button-block">Submit</a>
  </ion-content>
</ion-view>
