<ion-view title="Quick Capture Receipt" id="page4" style="background-color:#666666;">
  <!-- <ion-nav-buttons side="left" class="has-header">
    <button ng-click="goBackState()" class="button button-icon icon ion-ios-arrow-back"> Back</button>
  </ion-nav-buttons> -->
  <ion-content padding="true" class="has-header">
    <div id="quickCaptureReceipt-button-bar4" class="button-bar">
      <button id="quickCaptureReceipt-button32" class="button button-positive  button-block icon-left ion-android-image">Gallery</button>
      <button id="quickCaptureReceipt-button34" class="button button-positive  button-block icon-left ion-camera">Camera</button>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="quickCaptureReceipt-button-bar1" class="button-bar">
      <button id="quickCaptureReceipt-button16" class="button button-dark  button-block">Edit</button>
      <button id="quickCaptureReceipt-button18" class="button button-dark  button-block">Delete</button>
    </div>
  </ion-content>
</ion-view>
