<ion-view title="Receipts" id="page10" style="background-color:#666666;">
  <!-- <ion-nav-buttons side="left" class="has-header">
    <button ng-click="goBackState()" class="button button-icon icon ion-ios-arrow-back"> Back</button>
  </ion-nav-buttons> -->
  <ion-content padding="true" class="has-header">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="receipts-slider1" style="width:100%;height:200px;">
      <ion-slide-page id="receipts-slide24" style="background:url(&quot;img/avfsZwJT9WGsBj982ul1_kitten1.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="receipts-slide25" style="background:url(&quot;img/gHd5vedGQJu4s4qsPQvr_kitten2.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="receipts-slide26" style="background:url(&quot;img/WE6rB9dZRTiIWQlP5qsA_kitten3.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <div id="receipts-button-bar3" class="button-bar">
      <button id="receipts-button26" class="button button-dark  button-block">Edit</button>
      <button id="receipts-button27" class="button button-dark  button-block">Delete</button>
    </div>
  </ion-content>
</ion-view>
