<ion-view title="Reports" id="page2">
  <!-- <ion-nav-buttons side="left" class="has-header">
    <button ng-click="goBackState()" class="button button-icon icon ion-ios-arrow-back"> Back</button>
  </ion-nav-buttons> -->
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.newReport" id="reports-button1" class="button button-positive  button-block">New Expense Report</a>
    <div class="list card" id="reports-card21">
      <ion-item class="item-avatar" id="reports-list-item33">
        <h2>ID: 6155</h2>
      </ion-item>
      <div class=" item item-image">
        <img src="img/U8deJJiUQzmwF3fvtHzG_receipt-ying-thai.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="reports-list-item-container7">
        <div id="reports-markdown9" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:24px;">Amount: $12.59</p>
        </div>
        <button id="reports-button6" class="button button-positive  button-block">Edit Report</button>
      </div>
    </div>
  </ion-content>
</ion-view>
