<ion-view title="Sign in" id="page7">
  <ion-content padding="true" style="background: url(img/KbJlE9EuTvamdDfnn85Y_particles_bg.jpg) no-repeat center;background-size:cover;" class="has-header">
    <form id="signIn-form3" class="list">
      <div class="spacer" style="width: 300px; height: 36px;"></div>
      <a ui-sref="signUp" id="signIn-button8" style="color:#fff;" class="button button-positive  button-block button-clear">Sign up</a>
      <div>
        <img src="img/MAhXfeTTciVhFrhGGMl5_apptricity-logo.png" style="display: block; width: 73%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="width: 300px; height: 15px;"></div>
      <ion-list id="signIn-list9">
        <label class="item item-input" id="signIn-input5">
          <span class="input-label">Username</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="signIn-input6">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="width: 300px; height: 15px;"></div>
      <button id="signIn-button7" class="button button-positive  button-block">Sign in</button>
      <a href="/signup" href-inappbrowser="_system" id="signIn-button10" style="color:#FFFFFF;" class="button button-positive button-small button-block button-clear">Forgot Password?</a>
    </form>
  </ion-content>
</ion-view>
